<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mipro.ard.penajdwalan">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".json_handler.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="SISFOGIAT"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".tambah.tambah_satlantas" />
        <activity android:name=".tambah.tambah_personil" />
        <activity android:name=".tambah.tambah_kegiatan" />
        <activity android:name=".tambah.tambah_agenda" />
        <activity android:name=".tambah.tambah_surat_perintah" />
        <activity android:name=".tambah.tambah_laporan" />
        <activity android:name=".daftar.daftar_personil" />
        <activity android:name=".daftar.daftar_satlantas" />
        <activity android:name=".detail.detail_satlantas" />
        <activity
            android:name=".detail.detail_personil"
            android:theme="@style/AppTheme.popTheme" />
        <activity android:name=".daftar.daftar_kategori" />
        <activity android:name=".daftar.daftar_kegiatan" />
        <activity android:name=".detail.detail_kegiatan" />
        <activity android:name=".jadwal.atur_jadwal" />
        <activity android:name=".jadwal.pilih_personil" />
        <activity android:name=".edit.edit_kategori" />
        <activity android:name=".edit.edit_kegiatan" />
        <activity android:name=".edit.edit_personil" />
        <activity android:name=".edit.edit_satlantas" />
        <activity android:name=".tambah.tambah_kategori" />
        <activity android:name=".jadwal.daftar_jadwal" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".jadwal.detail_jadwal"></activity>
    </application>

</manifest>